.btnpopup{
    background-color: red ;
    padding:1cm 2cm;
    font-size:14pt;
    cursor: pointer;
}
.btnpopup:hover{
    background-color: grainsboro;
}
.overlay {
    position : fixed ;
    left: 0px;
    top:0px;
    background-color: rgba(156, 146, 146, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}
.popup {
    margin : 20% auto ;
    width : 50%;
    background-color: rgb(228,228,228);
    border-radius: 5px;
    box-shadow: 15px 20px 0 rgba(141, 136, 136, 0.5);
    padding:1cm;
}
.btnclose{
    float:right;
    cursor:pointer;
}